@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900';

/*********
 * Reset *
 *********/

 * {
   /*Shreeram 
   box-sizing: border-box;
   */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -moz-font-feature-settings: "kern";
   -webkit-font-feature-settings: "kern";
 }

 html, body {
   margin: 0;
   padding: 0;
 }

ul {
  margin: 0;
  padding: 0 0 0 24px;
}

main a {
  color: inherit;
}

.clearfix:after {
 	visibility: hidden;
 	display: block;
 	font-size: 0;
 	content: " ";
 	clear: both;
 	height: 0;
}

/**********
 * Layout *
 **********/

.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 24px;
}

/* Header */

header {
  background-color: #b7e045;
  padding: 26px 0 18px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .title {
  float: left;
  width: fit-content;
}

header .info {
  float: right;
}

header .info ul li {
  list-style-type: none;
}

/* Main */

.grid {
  display: flex;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.3333333%;
}

.col {
  width: fit-content;
}

.pad {
  padding: 0 8px;
}

.section {
  border-bottom: 1px solid;
}

.subsection {
  width: 100%;
  margin: auto;
}

/**************
 * Typography *
 **************/

body {
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.66);
  background-color: #ffffff;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 400;
}

h1 {
  font-size  : 1.2em;
  font-weight: 400;
}

h2 {
  font-size  : 1.5em;
  font-weight: 300;
}

h3 {
  font-size  : 1.25em;
}

h4 {
  font-size  : 1.15em;
}

h5 {
  font-size  : 0.875em;
}

h6 {
  font-size  : 0.75em;
}

small {
  font-size: 0.875em;
}

h1, h2, h3, h4, h5, h6, .head {
  margin: 0.3em 0 0.25em;
}

/* Header */

header .title {
  font-size: 2.25em;
}

header .title h1 {
	/*Shreeram
  font-weight: 900;*/
  line-height: 0.5;
}

header .title h1 small {
  font-weight: 400;
  font-size: 0.29em;
}

header .info ul li a {
  color: inherit;
}

footer {
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}